{% extends "base.html" %}

{% block title %}开放题文本分析{% endblock %}

{% block page_content %}<div class="page-header">
                <h2>问卷开放题文本分析小工具（演示版）</h2>
            </div>
            <div>
                <p>说明：可以直接填写原话文本或上传文件，一行代表一名被访者的回答，文件只能是txt格式的文本文件，程序会抽取关键词，计算每个关键词的权重、词频和提及人数，并根据关键词被提及的关系绘制共现网络。指定的关键词个数表示提取数量的最大值，实际由于文本长度和选择的词性可能少于该值。此应用为演示版，请不要上传大于50行的文件。</p>
            </div>
            <div>
                <form action="/result/" method="post" class="form" enctype="multipart/form-data" role="form">
                    {{ form.hidden_tag() }}
                    <div class="form-group">{{ form.text.label(class = "control-label") }}
                    {{ form.text(class="form-control") }}</div>
                    <div class="form-group">{{ form.upload.label(class = "control-label") }}
                    {{ form.upload(class="form-control") }}</div>
                    <div class="form-group">{{ form.num.label(class = "control-label") }}
                    {{ form.num(class="form-control") }}</div>
                    <div class="form-group">{{ form.method.label(class = "control-label") }}
                    {{ form.method(class="form-control") }}</div>
                    <div class="form-group">{{ form.pos.label(class = "control-label") }}
                    {{ form.pos(class="form-control") }}</div>
                    <div class="form-group">{{ form.submit(class="btn btn-default") }}</div>
                </form>
            </div>
        <div><hr/></div>{% endblock %}